mat-table {
  margin-top: 1rem;
}
mat-header-cell, mat-cell {
  justify-content: space-around;
}
.deleteButton {
  margin-left: 2rem;
}
.checkbox {
  border-bottom: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
