<mat-table [dataSource]="userService.dataSource" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell class="checkbox" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell class="checkbox" *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef> ФИО </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="birth">
    <mat-header-cell *matHeaderCellDef> Дата рождения </mat-header-cell>
    <mat-cell *matCellDef="let user" > {{user.dateOfBirth}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef> Пол </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.gender}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="snils">
    <mat-header-cell *matHeaderCellDef> СНИЛС </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.snils}} </mat-cell>
  </ng-container>
  <mat-header-row class="row" *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<button mat-button *ngIf="selection.hasValue()" (click)="remove()">Удалить</button>

