<mat-card class="wrap">

  <!-- begin stepper -->
  <mat-vertical-stepper linear
                        #stepper>
    <mat-step [stepControl]="userNameFormGroup" [editable]="isEditable">
      <form [formGroup]="userNameFormGroup">
        <ng-template matStepLabel>ФИО</ng-template>
        <mat-form-field>
          <mat-label>ФИО</mat-label>
          <input matInput
                 formControlName="userName"
                 placeholder="Фамилия Имя Отчество"
                 [(ngModel)]="user.userName" required>
        </mat-form-field>
        <div>
          <div *ngIf="_userName.invalid && _userName.dirty">
            <span *ngIf="_userName.errors.pattern"
                  class="validator-warn"
            >Только символы 'А-Я', 'а-я'</span>
          </div>
          <button mat-button
                  matStepperNext
                  type="button"
                  [disabled]="userNameFormGroup.invalid">Далее</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="birthFormGroup" [editable]="isEditable">
      <form [formGroup]="birthFormGroup">
        <ng-template matStepLabel>Дата рождения</ng-template>
        <mat-form-field>
          <input matInput matDatepickerInput readonly
                 [max]="maxDate"
                 [matDatepicker]="picker"
                 placeholder="Date of birth"
                 formControlName="dateOfBirth"
                 [(ngModel)]="user.dateOfBirth"
                 (dateChange)="date($event)"
                 required
          >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext
                  type="button"
                  [disabled]="birthFormGroup.invalid"
          >Далее</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="genderFormGroup" label="Пол">
      <form [formGroup]="genderFormGroup">
        <mat-radio-group aria-label="Select gender"
                         [(ngModel)]="user.gender"
                         formControlName="gender"
                         (change)="onHandleChange($event)"
        >
          <mat-radio-button value="муж">муж</mat-radio-button>
          <mat-radio-button value="жен">жен</mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext
                  type="button"
                  [disabled]="genderFormGroup.invalid"
          >Далее</button>
        </div>
      </form>

    </mat-step>
    <mat-step [stepControl]="snilsFormGroup" [editable]="isEditable">
      <form [formGroup]="snilsFormGroup">
        <ng-template matStepLabel>СНИЛС</ng-template>
        <mat-form-field>
          <mat-label>СНИЛС</mat-label>
          <input matInput
                 maxlength="11"
                 formControlName="snils"
                 [(ngModel)]="user.snils"
                 required>
        </mat-form-field>
        <div>
          <div *ngIf="_snils.invalid && _snils.touched">
            <span *ngIf="_snils.errors.invalid"
                  class="validator-warn"
            >Невалид</span>
        </div>

            <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext [disabled]="snilsFormGroup.invalid">Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button type="submit" (click)="onSubmit()">Готово</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <!-- end stepper -->

  <div class="user-wrapper">
    <mat-card-header>
      <mat-card-title>{{user.userName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Дата рождения: {{user.dateOfBirth}}</p>
      <p>Пол: {{user.gender}}</p>
      <p>СНИЛС: {{user.snils}}</p>
    </mat-card-content>
    <button mat-raised-button
            (click)="addUser()"
            [disabled]="isDisabled"
            color="primary">Добавить в таблицу</button>
  </div>
</mat-card>
