<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="userNameFormGroup" [editable]="isEditable">
    <form [formGroup]="userNameFormGroup">
      <ng-template matStepLabel>ФИО</ng-template>
      <mat-form-field>
        <mat-label>ФИО</mat-label>
        <input matInput formControlName="userName" placeholder="Фамилия Имя Отчество" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext >Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="birthFormGroup" [editable]="isEditable">
    <form [formGroup]="birthFormGroup">
      <ng-template matStepLabel>Дата рождения</ng-template>
      <mat-form-field>
        <mat-label>Дата рождения</mat-label>
        <input matInput formControlName="birth" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
    <mat-step label="Пол" >
          <mat-radio-group aria-label="Select gender" (change)="onHandleChange($event)">
            <mat-radio-button  value="муж">муж</mat-radio-button>
            <mat-radio-button  value="жен">жен</mat-radio-button>
          </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext>Далее</button>
        </div>
    </mat-step>
  <mat-step [stepControl]="snilsFormGroup" [editable]="isEditable">
    <form [formGroup]="snilsFormGroup">
      <ng-template matStepLabel>СНИЛС</ng-template>
      <mat-form-field>
        <mat-label>СНИЛС</mat-label>
        <input matInput formControlName="snils" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button (click)="onSubmit()" matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="stepper.reset()">Сброс</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
